<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Performs!-sns</title>
  <link rel="stylesheet" href="stylesheet.css">
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

<script type="text/javascript">
        $(document).ready(function(){
            $('.slider').bxSlider({
                auto: true,
                pause: 5000,
            });
        });
</script>

</head>
<body>

  <header>
      <figure class="relative">
      <div class="slider">
        <img src="img/ajisai.jpg" alt="">
        <img src="img/ajisai.jpg" alt="">
        <img src="img/ajisai.jpg" alt="">
        <img src="img/ajisai.jpg" alt="">
    </div>
          <figcaption class="absolute"><h1>Performs!</h1></figcaption>
          </figure>
  </header>
    <h1 class="margin-left"><span class="color-border">[Performs!とは]</span></h1>
<div class="cc">
   <div class="text"> 
       <span class="color">「コンセプト」/ 初心者でも挑める環境づくり</span>
   </div>
</div>
    <h1 class="margin-left"><span class="color-border">[How to use?]</span></h1>
<div class="text-1">このSNSは基本的に「主催側」と「大会に参加する側」の使い方が別れています。</div>
<br><span class="color-2 margin-left text-2">「主催側」の使い方</span>
<br>
<div class="cc">a</div>
</body>
</html>
