<!DOCTYPE html>
<html lang="ja","en">
<head>
    <meta charset="UTF-8">
    <title>Performs-SNS</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/5ac9533b42.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Fascinate&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fascinate&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../style.css">
  <script type="text/javascript">
  function check(){
      if (document.forms[0].elements["tweet"].value === ""){
          alert("大会名を入力してください"); 
          return false; 
      # }elsif (document.forms[0].elements["beforestarting"].value === ""){
      #     alert("告知期間を入力してください");
      #     return false; 
      }else{
          return true;
      }
  }
  </script>
</head>
<body>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-dark navigation fixed my-2"><a class="title" href="/">Performs!</a>
      <ul>
        <% if !current_user.nil? %>
          <div>こんにちは、”<%= current_user.name %>”さん  <a href="/signout" class="logout">ログアウト</a></div>
        <% else %>
          <a href="/signin">ログイン</a>
          <a href="/signup">新規登録</a>
        <% end %>
      </ul>
    </nav>
    <div class="row">
      <nav class="col-sm-1 col-md-2 col-lg-2 col-xl-2 d-none d-md-block bg-light sidebar fixed">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                Home <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/competetions">
              <i class="fas fa-play-circle"></i>
                Competitions
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/mypage">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                MyPage
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/topmenu">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                TopMenu
              </a>
            </li>
        </div>
      </nav>
      <div class="col-sm-11 col-md-10 col-lg-10 col-xl-10 yield-margin">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>