<div>
    <form action="/tasks" method="post">
        <div>
            <div>
                <input type="text" name="tweet" placeholder="投稿したい内容を入力してください">
            </div>
            <div>
                <input type="submit" value="投稿">
            </div>
        </div>
    </form>
</div>