<div>
    <form action="/post" method="post"　name="post-form">
        <div>
            <div>
            <input type="text" name="title_movie" placeholder="Youtubeのリンクを追加してください">
            </div>
            <div>
                <input type="text" name="detail_movie" placeholder="動画の詳細を入力してください">
            </div>
            <div>
                <input type="submit" value="投稿" onClick="return check();">
            </div>
        </div>
    </form>
</div>